.fresh__food-banner {
  background: url("http://demo.posthemes.com/pos_ecolife/themes/theme_ecolife1/assets/img/bg_breadcrumb.jpg");
  background-size: cover;
  height: 290px;
  display: flex;
}
.breadscrumb {
  margin: auto;
  text-align: center;
}
.breadscrumb h3 {
  font-size: 26px;
  color: #253237;
  font-weight: 500;
  letter-spacing: 2.5px;
  margin-bottom: 15px;
}
.breadscrumb__link {
  font-size: 14px;
}
.breadscrumb__link > span {
  margin: 0 10px;
}
.breadscrumb__link > a {
  text-decoration: none;
}
.breadscrumb__link > a:not(:last-child) {
  color: #253237;
  transition: color linear 0.3s;
}
.breadscrumb__link > a:last-child {
  color: #4fb68d;
}
.breadscrumb__link > a:not(:last-child):hover {
  color: #4fb68d;
}
.fresh__food-content {
  display: flex;
}
.fresh__food-content__site-bar {
  width: 25%;
  max-width: 25%;
}
.fresh__food-content__main {
  width: 75%;
}
.fresh__food-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.fresh__food-list .cart--type-1 {
  width: 25%;
  max-width: 25%;
  padding: 0 15px;
  margin-top: 30px;
}
.fresh__food-content__site-bar {
  padding-right: 30px;
}
.fresh__food-content__site-bar .name__line {
  position: relative;
  text-decoration: none;
  display: block;
  height: 38px;
}
.fresh__food-content__site-bar h3 {
  color: #253237;
  font-size: 18px;
  font-weight: 500;
}
.name__line + .name__line {
  margin-top: 30px;
}
.categories {
  margin-top: 30px;
}
.category__list {
  margin-top: 10px;
}
.categories h3 {
  font-size: 16px;
}
.category__item {
  display: block;
  cursor: pointer;
}
.category__item span {
  font-size: 15px;
  color: #555;
  transition: color linear 0.3s;
}
.category__item input {
  margin-right: 5px;
  cursor: pointer;
}
.category__item:hover span {
  color: #4fb68d;
}
.category__item + .category__item {
  margin-top: 10px;
}
.button__group a {
  margin-bottom: 10px;
}
.advetisment__img-box {
  display: block;
}
.advetisment__img-box img {
  width: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination__item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.pagination__item i {
  font-size: 12px;
}
.pagination__item--primary {
  background-color: #f6f6f6;
  color: #253237;
  transition: all linear 0.3s;
}
.pagination__item--primary:hover {
  background-color: #4fb68d;
  color: #fff;
}
.pagination__item--color {
  background-color: #4fb68d;
  color: #fff;
}
.pagination__item + .pagination__item {
  margin-left: 5px;
}
.product__list-top {
  background-color: #f6f6f6;
  padding: 10px 30px;
}
.product__list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  color: #999;
}
.product__list-sort {
  display: flex;
  align-items: center;
}
.product__list-sort span {
  margin-right: 20px;
}
.sort__bar {
  position: relative;
  width: 325px;
  padding: 5px 15px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  color: #253237;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.search__menu {
  position: absolute;
  top: calc(100% + 2px);
  background-color: #fff;
  width: 100%;
  left: 0;
  z-index: 1000;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  padding: 5px 0;
  display: none;
}
.search__menu a {
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
  color: #253237;
  padding: 5px 5px;
  transition: all linear 0.3s;
}
.search__menu a:hover {
  background-color: #4fb68d;
  color: #fff;
}
.search__menu.active {
  display: block;
}
